<tr>
  <td style="margin: 0; padding: 0;">
    <span
      style="
        display: inline-block;
        width: 100%;
        text-align: center;
        padding-bottom: 3rem;
      "
    >
      <br /><br />

      <small style="color: #999">@ {{year}} - FindFreelancer</small>

      <br />

      <small>
        <a style="color: #999; text-decoration: none" href="#"> Terms of use </a>
        ·
        <a style="color: #999; text-decoration: none" href="#"> Privacy Policy </a>
        ·
        <a style="color: #999; text-decoration: none" href="mailto:contact@r3tests.net"> Contact </a>
      </small>
    </span>
  </td>
</tr>
</table>
</body>
</html>


